<div class="hero"></div>
<div class="center story_content">
  <h1><%= t ".home" %></h1>
  <div class="row">
    <div class="col-md-2">
      <%= link_to "#" do %>
        <%= image_tag Settings.story_image %>.<p>Story</p>
      <% end %>
    </div>
  </div>
</div>
