<div class="hero"></div>
<div class="center">
  <h1><%= t ".home" %></h1>
  <div class="story_content">
    <%= render @stories %>
  </div>
</div>
<div class="footer col-md-12">
  <h1><%= t ".title" %></h1>
</div>
