$white: #fff;
$lavender: #e7e7e7;
$whitesmoke: #f2f2f2;
$darkgray: #a3a3a3;
$lightgray: #ccc;
$black: #000;
$darkslategray: #363636;
$firebrick: #f13a22;
$red: #ff0000;
$yellow: #ff9700;
$blue: #0072bc;
$midnightblue: #114c8f;
$mediumturquoise: #43afee;
