$white: #fff;
$white2: #e7e7e7;
$gray: #a3a3a3;
$gray2: #999999;
$gray3: #ccc;
$black: #000;
$light-black: #363636;
$black2: #464646;
$red: #f13a22;
$red2: #ff0000;
$yellow: #ff9700;
$blue: #0072bc;
$blue2: #114c8f;
$light-blue: #43afee;
