@import 'bootstrap-sprockets';
@import 'bootstrap';
@import 'color.scss';

.main {
  position: sticky;
  max-height: 120px;
  top: 0;
  z-index: 999;
  width: 100%;
  padding-top: 17px;
  background-color: $light-black;
  border-bottom: 1px solid $light-black;
  overflow: hidden;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  padding-bottom: 6px;
  font-family: "Montserrat", sans-serif;
}

footer {
  .logo {
    color: $light-black;
    margin-top: 20px;
    padding-top: 5px;
    border-top: 1px solid $light-black;
  }
}

.logo {
  width: 50px;
  font-size: 35px;
  color: $white;
  text-transform: uppercase;
  float: left;
  display: block;
  line-height: 1;
  margin-bottom: 10px;
  margin-left: 40px;
  &:hover {
    text-decoration: none;
    color: $gray; 
  }
}

nav {
  float: left;
  margin: 0;
}

ul {
  list-style: none;
  overflow: hidden;
  text-align: right;
  float: right;
}

nav {
  ul {
    li {
      display: inline-block;
      margin-left: 35px;
      line-height: 1.5;
    }
    a {
      color: $white;
      text-transform: uppercase;
      font-size: 16px;
      &:hover {
        text-decoration: none;
        color: $gray;
      }
    }
  }
}

* {
  box-sizing: border-box;
}

body {
  color: $black;
  background: $white;
  font-family: "Cardo", serif;
  font-weight: 300;
  -webkit-font-smoothing: antialiased;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 30px;
  line-height: 1.8;
  text-transform: uppercase;
  font-family: "Montserrat", sans-serif;
  .center {
    text-align: center;
  }
}

p {
  margin-bottom: 20px;
  font-size: 17px;
  line-height: 2;
}

.content {
  padding: 50px 2% 250px;
}

.hero {
  position: relative;
  background: image-url("banner.png") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  background-size: cover;
  text-align: center;
  color: $white;
  padding-top: 110px;
  min-height: 400px;
  letter-spacing: 2px;
  font-family: "Montserrat", sans-serif;
  h1 {
    font-size: 50px;
    line-height: 1.3;
  }
}

.story_content {
  margin-left: 30px;
  a {
    font-size: 17px;
    margin-bottom: 20px;
  }
  img {
    margin-bottom: 7px;
    margin-top: 30px;
    max-width: 180px;
    width: 100%;
  }
  table {
    margin-top: 30px;
    tr th {
      font-size: 18px;
    }
  }
}

#form_search {
  width: 50%;
}

.page {
  margin-top: 20px;
  h1 {
    text-align: center;
  }
}

input, textarea, select, .uneditable-input {
  border: 1px solid $gray;
  width: 100%;
  margin-bottom: 15px;
}

input {
  height: auto;
}

#error_explanation {
  color: $red;
  ul {
    float: left;
    text-align: left;
    color: $red;
    margin: 0 0 30px 0;
    li {
      list-style: disc;
    }
  }
}

.field_with_errors {
  .form-control {
    color: $state-danger-text;
  }
}

#session_remember_me {
  width: auto;
  margin-left: 0;
}

.checkbox {
  text-align: center;
  span {
    margin-left: 15px;
  }
}
