<footer>
  <div class="copy-right">
    <div class="container">
      <div class="row">
        <div class="col-md-6">
          <h5><%= t ".text" %></h5>
        </div>
      </div>
    </div>
  </div>
</footer>
<div id="back-to-top" class="back-to-top" data-toggle="tooltip" data-placement="left" title="Back to top">
  <span class="glyphicon glyphicon-circle-arrow-up text-primary"></span>
</div>
